# {{ ansible_managed }}
USER_LANGUAGE="en";
USER_NO_STOP="y";
USER_INSTALL_TYPE="local";
USER_DIR="/var/ossec";
USER_ENABLE_SYSCHECK="y";
USER_ENABLE_ROOTCHECK="y";
USER_UPDATE_RULES="y";
USER_ENABLE_EMAIL="n";
USER_ENABLE_FIREWALL_RESPONSE="n";
USER_ENABLE_ACTIVE_RESPONSE="y";