[general]
state_file = /var/lib/awslogs/agent-state
buffer_duration = 5000
encoding = utf-8
multi_line_start_pattern = default("^[^\s]")
initial_position = start_of_file






{% for log in logs|list + extra_logs|list %}
[{{ log.file }}]

{% if log.format is defined %}

datetime_format = {{ log.format }}

{% endif %}

file = {{ log.file | default('/var/log/syslog') }}

log_group_name = {{ log.group_name }} | default(log.file) }}

log_stream_name = {instance_id}

{% endfor %}
